<div style="border-left:1px solid orangered; margin-left:20px;">
    <h2>This is the partial for view 2.</h2>
    <button ng-click="vmView2.someObject.sayName()">Say name from object</button>
    <button ng-click="vmView2.sayName()">Say name from controller</button>
    <button ng-click="vmView2.trigger()">trigger</button>
    <button ng-click="vmView2.triggerDelayed()">trigger in 1 second</button>
    <pre>{{vmView2|json}}</pre>
    name: <input type="text" ng-model="vmView2.name"/>
    nameFromView: <input type="text" ng-model="vmView2.nameFromView"/>
</div>